

.matters-layout{
  position: fixed;

  .header-section{
    border-bottom: 1px solid #ccc;
  }

  .sidebar{
    height: 100%;
    position: fixed;
    overflow: scroll;
    background: linear-gradient(90deg, #fff, #EEEEEE);
    padding-bottom: 80px;
  }

  .content-area{
    position: fixed; right: 0px;
    overflow: scroll; height: 100%;
    border-left: 2px solid #ddd;
    padding: 0px;
  }
}