.divider-with-text{
  width: 92%;
  margin: 20px auto;
  letter-spacing: 2px;
  font-weight: 100;
  font-style: italic;
  background-color: #ddd; text-align: center; height: 1px;

  .divider-text{
    color: #858585;
    text-transfrom: uppercase;
    font-size: 12px;
    background-color: white; position: relative; top: -1.2em;
    padding: 0px 10px;
  }
}

input[type="text"]{
  border-radius: 4px;
}


.trucate {
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 15px;
   position: relative;
}

.row{
  .strip-margin{
    margin: 0px;
  }
}


