<!--  <input type="text" ng-model= "search.$" placeholder="Search by anything">

 <input type="text" ng-model= "search.name" placeholder="Search By name...">

<div>{{search.name}}</div>
<div>CAHNGEd!!!!</div>

<ul>
  <li ng-repeat= "todo in todos | filter:search">
     {{todo.name}}  Status: {{todo.open}}
  </li>
</ul>

<button ng-click="test()"></button>

<div>
  <h2>New Todo</h2>

Name: <input type="text" ng-model="newTodo.name">
Status: <input type="text" ng-model="newTodo.open">
<button  ng-click="addTodo()">Save</button>

</div>

 -->