<li class="client-item">
  <div class="client-details">

    <div class="avatar-wrapper">
      <img src="https://randomuser.me/api/portraits/thumb/women/93.jpg" class="avatar">
    </div>

    <span class="client-name">{{client.client_name}}</span>
   <!--  <input type="checkbox" ng-model="client.selectAllMatters" ng-click="toggleClientMatters(client)"> -->
  </div>


  <div class="divider-with-text">
    <span class="divider-text">
      <ng-pluralize count="filteredMatters.length"
                    when="{'one': '{} Matter',
                          'other': '{} Matters'}">
      </ng-pluralize>
  </div>
</li>